<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <style>
        .container {
            display: grid;
            place-items: center;
        }
        
        .two {
            display: grid;
            grid-column: 2;
        }
        
        .one {
            display: grid;
            grid-column: 1;
        }
        
        .three {
            display: grid;
            grid-column: 3;
        }
        
        h4 {
            display: grid;
            grid-row: 1;
        }
    </style>
</head>

<body>
    <h1>Name</h1>
    <div class='container'>
        <h4 class='one'>Created Tickets</h4>
        <div class='one'>
            Created
        </div>
        <h4 class='two'>Assigned Tickets</h4>
        <div class='two'>
            Assigned Tickets
        </div>
        <h4 class='three'>Completed Tickets</h4>
        <div class='three'>
            Completed Tickets
        </div>
    </div>
</body>

</html>