<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bugtracker | Ticket</title>
</head>

<body>
    <a href="/"><button>Back to Home</button></a>
    <div>
        <h1>{{ ticket.title }}</h1>
        <h5>Status: {{ ticket.status }}</h5>
        <p>{{ ticket.description }}</p>
        <h6>Created by 👤{{ ticket.created_by }}</h6>
        <h6>📅{{ ticket.time_created }}</h6>
        <h6>Assigned to <a>👤{{ ticket.assigned_to }}</a></h6>
        <h6>Completed by <a>👤{{ ticket.completed_by }}</a></h6>
    </div>
    <div>
        <a href="/ticket/{{ ticket.id }}/edit/"><button>Edit Ticket</button></a>
        <a href="/ticket/{{ ticket.id }}/assign/"><button>Assign to Me</button></a>
        <a href="/ticket/{{ ticket.id }}/complete/"><button>Mark as Complete</button></a>
        <a href="/ticket/{{ ticket.id }}/invalidate/"><button>Mark as Invalid</button></a>
    </div>
</body>

</html>